* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}

body {
  background: #fdfdfd;
  overflow-x: hidden;
  direction: rtl;
  font-size: 18px;
}

p,
li,
a,
.heading-paragraph {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.44rem;
  text-decoration: none;
}

h1,
h2,
.go-bottom-letter-c {
  font-size: 3.883rem;
  margin: 1rem 0;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

hr {
  margin: 1rem 0 1.7rem auto;
  width: 4rem;
  border: 0;
  height: 2px;
  background: #131330;
}

.ideas,
.menu-item a,
.menu-button p,
.menu-button,
.footer-copyright,
.footer-text,
.footer-text.text-right a,
.contact-details-phone a,
.contact-details-email a,
.work-svg text {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.44rem;
  text-decoration: none;
}

.main-header {
  width: 100%;
  height: 7rem;
  position: relative;
}

.main-nav {
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo-holder {
  height: 4.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.home .logo-holder {
  width: auto;
}

.logo {
  height: 3.58rem;
  width: 4.3rem;
}

.td,
#formsubmit {
  color: #273d4d;
}

.ideas {
  font-size: 1rem;
  margin-left: 1rem;
}

ul.nav-menu-items {
  display: flex;
  margin-right: auto;
}

.menu-item {
  list-style-type: none;
  margin-right: 38px;
}

.nav-menu-items li a {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: #23396f;
  z-index: 2;
  font-size: 22px;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.menu-button {
  display: none;
}

.home-heading-image,
.js-image-cover-home {
  width: 45%;
  height: calc(100vh - 7rem);
  left: 0;
  position: absolute;
  top: 7rem;
}

.heading-image-small-box,
.js-box-cover-home {
  position: absolute;
  width: 33.33%;
  height: 14rem;
  right: -2rem;
  top: 2rem;
  z-index: -1;
  background: #a4d4d6;
  -webkit-transform-origin: right;
  transform-origin: right;
}

.horizontal-image-line {
  position: absolute;
  height: 2px;
  bottom: 2rem;
  z-index: 4;
  width: 10rem;
  background: #d4def7;
  left: calc(45% - 2rem);
}

.header-image-triangle {
  width: 1.2rem;
  height: 1.2rem;
  left: calc(5% - 0.3rem);
  transform: rotate(180deg);
  position: absolute;
  bottom: 1.4rem;
}

.section {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 5rem 0;
}

.heading-section {
  height: calc(100vh - 7rem);
}

.heading-text-wrapper {
  position: absolute;
  right: 0;
  margin-right: 10%;
  z-index: 8;
  top: 50%;
  transform: translateY(-50%);
}

.main-heading {
  font-size: 8em;
  letter-spacing: 0.2px;
  font-weight: 900;
  color: #122022;
}

.inset-maintitle {
  height: 7.8rem;
}

.home .subheading-wrapper {
  margin-left: 0.9rem;
}

.heading-subtitle {
  font-size: 2rem;
  position: relative;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 1.25 !important;
}

/* arrows and lines */
.scroll-arrow-wrap {
  width: 6rem;
  display: flex;
  justify-content: flex-start;
  height: 2rem;
  position: absolute;
  bottom: 1rem;
  right: 10%;
  align-items: center;
}

.scroll-arrow {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.5rem;
}

.main-left-line {
  position: absolute;
  right: 2.5rem;
  width: 2px;
  height: calc(100% + 8.4rem);
  background: #90bee1;
  top: -7rem;
  opacity: 0.3;
  z-index: 5;
}

/* section 2 */
.home-section-2 {
  padding-top: 17.159rem;
  padding-bottom: 6rem;
  overflow: hidden;
  background: #122022;
}

.home .s2-wedge-top-1 {
  width: 100%;
  position: absolute;
  top: 0px;
  height: 16.5rem;
  left: 0;
}

.row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1250px;
  z-index: 2;
}

.home .two-col {
  width: 50%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.tl {
  color: #fff;
}

.section-2 hr {
  background: #fff;
}

.vertical-text {
  position: absolute;
  left: calc(5% - 0.5rem);
  transform: rotate(-90deg);
  opacity: 0.4;
  transform-origin: 0 0;
  color: #d4d6d2 !important;
}

.the-web {
  bottom: calc(50% - 12.7rem);
  width: 10.4rem;
}

.row .one-col,
.row .two-col {
  position: relative;
  padding: 5rem 3rem;
}

.home-section-3 {
  padding: 10rem 0 4rem;
}

.home .s3-wedge-top-1 {
  position: absolute;
  width: 100%;
  top: -2px;
  height: 8rem;
  left: 0;
}

/* section 3 */
.section-3 {
  flex-direction: column;
}
.explainer-row {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.service {
  width: 50%;
}

.service:nth-child(odd) {
  align-self: flex-start;
}

.service:nth-child(even) {
  align-self: flex-end;
}

.home .icon {
  width: 3rem;
  height: 3rem;
  margin: 0 1.6rem 0 0;
  position: absolute;
}

.explainer-subheading {
  margin: 0 0 1rem 4rem !important;
}

.explainer-text {
  margin: 0 0 2rem 4rem;
}

.section-4 {
  flex-direction: column;
}
.our-services {
  font-weight: 600;
}

.home .identity-image-col {
  background: #f4f7fd;
  background-size: cover;
  background-position: center;
}

.logos-wrap {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
}
